<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjetoFinalSO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <ProjetoFinalSO.Properties.Settings>
            <setting name="IPDestination" serializeAs="String">
                <value>10.3.20.143</value>
            </setting>
            <setting name="IPSource" serializeAs="String">
                <value>10.3.20.141</value>
            </setting>
            <setting name="PortDestination" serializeAs="String">
                <value>11000</value>
            </setting>
            <setting name="PortSource" serializeAs="String">
                <value>10999</value>
            </setting>
        </ProjetoFinalSO.Properties.Settings>
    </applicationSettings>
</configuration>